.logo{
    width: 100px;
    height: 100px;
    margin: 0 auto;
    border-radius: 50%;
}
.logo1{
    width: 30px;
    height: 30px;
    margin: 0 auto;
    border-radius: 50%;
    margin-right: 10px;
    
}
.chief{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    
}